@media screen and (max-width: 1150px)
	.top-menu li a
		padding: 70px 10px 15px
	.waste-wrapper,
	.advantage-wrapper
		padding-left 60px
	.contact-head
		bottom 50px

@media screen and (max-width: 1100px)
	.burger-menu
		display flex
	.romb-content
		top 13%
	.section--pyrolysis-map
		margin-top -150px
	.top-menu--wrapper
		position relative
		padding 20px 0
	.top-menu
		position absolute
		top 100%
		flex-direction column
		z-index 100
		width 100%
		background: #fff
		opacity 0
		visibility hidden
		trn(.2s)
		&.active
			opacity 1
			visibility visible
		li
			&:before
				display none
			a
				padding 10px
				font-size 12px

@media screen and (max-width: 1024px)
	.romb-content
		top 10%
		left 8%
	main
		overflow hidden
	.section--pyrolysis-map
		margin-top 0

@media screen and (max-width: 940px)
	.romb-content--foot h2
		margin-bottom 10px
		.big-head
			font-size 44px
			line-height 48px
	.romb-content:before
		width: 330px
		height: 310px
	.romb-content
		max-width 585px
	.romb-content--head
		margin-bottom 10px

@media screen and (max-width: 854px)
	.pyrolysis-map--wrapper .row
		flex-direction column-reverse
		.pyrolysis-map--image
			margin-bottom 40px
		.pyrolysis-map--image,
		.pyrolysis-map--content
			width 100%
	.pyrolysis-map--wrapper:before
		width 100%
	.pyrolysis-map--image .pyrolysis-image
		margin 0 auto
	.pyrolysis-content
		padding 0 20px
	.installation-text h3
		font-size 34px
		span
			font-size 54px
	.consultation-wrapper
		padding-left 0
		text-align center
		p
			font-size 36px
	.waste-head h3
		font-size 36px
		line-height 46px
	.list-waste li
		line-height 28px
		margin-bottom 0
	.waste-profit--head h3
		font-size 44px
	.advantage-head h3
		font-size 44px
		line-height normal
		span
			font-size 36px
	.table-profit--head h4
		font-size 34px
	.specifications-head h4
		font-size 34px
		line-height 36px
	.default-head h4
		font-size 34px
	.slider-wrapper:before
		display none
	main
		overflow: initial
	.navigate-post
		right 12px
	.contact-descript a, .contact-descript p
		font-size 20px
	.section--sertificat .container:before,
	.gallery-border
		display none
	.sertificat-wrapper
		flex-wrap wrap
	.sertificat-items
		width: calc(100% / 3)
		padding 5px

@media screen and (max-width: 800px)
	.contact-head
		display none
	.whatis-pyrolysis
		padding-left 0

@media screen and (max-width: 768px)
	.list-waste
		margin-bottom 30px
	.table-profit--main,
	.section--specifications
		padding-left 15px
		padding-right 15px
	.tablet-main img,
	.specifications-bg
		display none
	.tablet-main--wrapper,
	.specifications-tabl--main
		position relative
	.tablet-main:after, .tablet-main:before,
	.specifications-wrapper:after, .specifications-wrapper:before
		display none
	.section-posts .container
		background none
	.tel-big
		margin-top 20px
		margin-bottom 30px
		

@media screen and (max-width: 640px)
	.header-content
		.container
			padding 0
	.romb-content
		position relative
		max-width: 100%
		height: 100%
		top 0
		left 0
		padding 30px 0
		background-image: url(../img/bg-header.jpg)
		background-repeat no-repeat
		background-size cover
	.whatis-pyrolysis p
		font-size 30px
		line-height 32px
		span
			font-size 36px
	.installation-text
		position relative
		h3
			br
				display none
		
	.header-content--bg
		display none
	.romb-content:before
		position: absolute
		top: 0
		left: 0
		background: rgba(50,51,181, 0.9)
		content: ''
		width: 100%
		height: 100%
		transform: rotateZ(0) skew(0,0)
	
	.advantage-wrapper, .waste-wrapper
		padding-left 0
		padding-right 0
	.tablet-main--wrapper,
	.specifications-tabl--main
		padding 0

@media screen and (max-width: 600px)
	.advantage-main
		flex-wrap wrap
		justify-content space-around
		.advantage-items
			width calc(100% / 3)
			border-right 0


@media screen and (max-width: 540px)
	.table-profit--head h4
		font-size 24px
	.specifications-tabl tr td,
	.tablet-main--wrapper table tr td
		padding 10px
	.sertificat-items
		width: calc(100% / 2)
	.pyrolysis-map--image .pyrolysis-image
		padding 15px
	.waste-head h3,
	.advantage-head h3
		font-size 24px
		line-height normal

@media screen and (max-width: 480px)
	.specifications-tabl--main, .tablet-main--wrapper
		overflow-y: scroll

// @media screen and (max-width: 1150px)