header.header
	.container
		nav.top-menu--wrapper
			a(href="#").burger-menu
				span
				span
				span
			ul.top-menu
				li.active
					a(href="#") Главная
				li
					a(href="#") ЧТО ТАКОЕ ПИРОЛИЗ
				li
					a(href="#") ВИДЫ ПЕРЕРАБАТЫВАЕМЫХ ОТХОДОВ
				li
					a(href="#") ПРЕИМУЩЕСТВА ОБОРУДОВАНИЯ
				li
					a(href="#") ОТХОДЫ - ЭТО ВЫГОДНО
				li
					a(href="#") ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ
				li
					a(href="#") СЕРТИФИКАТЫ
				li
					a(href="#") ПОДТВЕРЖДЕННОЕ КАЧЕСТВО
	
	.header-content
		.container
			.romb-content
				a(href="#").romb-content--head
					img(src="img/icon-logo.png", alt="")
					p #[span нпо] декантер
					span.link-logo www.dekanter.ru

				.romb-content--foot
					h2 УСТАНОВКИ НЕПРЕРЫВНОГО #[span.big-head ПИРОЛИЗА]
					p СЕРИИ УНП
			
			.contact-head
				a(href="tel:88002222895").contact-head--phone  8-800-2222-895
				a(href="mailto:sales@dekanter.ru").contact-head--mail sales@dekanter.ru
			img(src="img/bg-header.jpg", alt="").header-content--bg